div {
    width: 200px;
    height: 200px;
    display: inline-block;
    
}
.container-a {
    width: 200px;
    height: 200px;  
}
  
#container1 {
    background-color: red;
    border:1px solid black 
}
#container2 {
    background-color: red;
}
#container3 {
    background-color: red;
}
#container4 {
    background-color: red;
}
#container5 {
    background-color: red;
    border:1px solid black 
}
.container-b {
    width: 200px;
    height: 200px;  
}
#container6 {
    background-color: red;
}
#container7 {
    background-color: rgb(66, 213, 233);
}
#container8 {
    background-color: rgb(9, 167, 88);
}
#container9 {
    background-color: rgb(236, 240, 21);
}
#container10 {
    background-color: red;
}
.container-c {
    width: 200px;
    height:200px;  
}
#container11 {
    background-color: red;
}
#container12 {
    background-color: rgb(66, 213, 233);
}
#container13 {
    background-color: rgb(9, 167, 88);
}
#container14 {
    background-color: rgb(236, 240, 21);
}
#container15 {
    background-color: red;
}
.container-d {
    width: 200px;
    height: 200px;  
}
#container16 {
    background-color: red;
}
#container17 {
    background-color: rgb(66, 213, 233);
}
#container18 {
    background-color: rgb(9, 167, 88);
}
#container19 {
    background-color: rgb(236, 240, 21);
}
#container20 {
    background-color: red;
}
.container-e {
    width: 200px;
    height: 200px;  
}
#container21 {
    background-color: red;
}
#container22 {
    background-color: rgb(66, 213, 233);
}
#container23 {
    background-color: rgb(9, 167, 88);
}
#container24 {
    background-color: rgb(236, 240, 21);
}
#container25 {
    background-color: red;
}
.container-f {
    width: 200px;
    height: 200px;  
}
  
#container26 {
    background-color: red;
    border:1px solid black 
}
#container27 {
    background-color: red;
}
#container28 {
    background-color: red;
}
#container29 {
    background-color: red;
}
#container30 {
    background-color: red;
    border:1px solid black 
}